html {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 170px 1fr;
    height: 100vh;
}

.nav-bar {
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid #dee2e6;
    gap: 40px;
}

.menu-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.menu-section h3 {
    margin-bottom: 8px;
}

.nav-bar, .content {
    padding: 20px;
}

.content {
    background-color: #e9ecef;
    display: flex;
    flex-direction: column;
}

.task {
    display: grid;
    grid-template-columns: 20px minmax(100px, 5fr) 1fr 1fr 100px;
    background-color: #f8f9fa   ;
    border-bottom: 0.5px solid #dee2e6;
    padding: 10px 12px;
    gap: 16px;
    align-items: center;
}

.task .priority,
.task .due-date {
    justify-self: end;
}

.task .actions {
    justify-self: end;
    display: flex;
    gap: 4px;
}

.actions button {
    padding: 0 6px;
}